.outlinebox{
    min-height: 850px;
    width:100%;
    padding:10px;
    background-color:#007c88;
}
.maincontentbox{
    width:100%;
    height:100%
    background-color: #ffffff
}
.topbar{
    width:100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f1f2f2;
}
.titlebar{
    line-height:60px;
    text-align: left;
    font-size: 22px;
    font-family: 'museo500', Arial, sans-serif;
    background-color: #f1f2f2;
}
.titlebarLink{
    cursor: pointer;
}
.titlebarLink:hover {
    opacity: .8;
}
.programName{
    margin-left: 44px;
    height: 25px;
    width: 200px;
    line-height:50px;
    text-align: left;
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
    background-color: #f1f2f2;
    border: 1px solid #ccc;
}
.programName:hover {
    border: 1px solid #aaa;
}
.programName:focus {
    border: 1px solid #0094FF;
}
.topBarIcon {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 4px;
    font-size: 16px;
    color: #404040;
    height: 32px;
    width: 32px;
}
.topBarFileText {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #000000;
    line-height: 30px;
}
.topBarFileEntry {
    margin-right: 5px;
    font-size: 12px;
    color: #000000;
}
.deviceHolder {
    margin-left: 50px;
}
.deviceRunHolder {
    margin-left: 50px;
}
.deviceRunButton {
    height: 32px;
    /*border-radius: 4px;*/
}
.deviceRunButtonText {
    margin-left:4px;
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
}
.deviceStatus {
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
}
.deviceMenuHolder {
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
}
.deviceMenuSelectDisabled {
    color: #A0A0A0;
}

.menuandcontentholder{
    position: relative;
    height: calc(100vh - 80px);
    min-height: 780px;
    width: 100%; 
    background-color: #ffffff;
}
.menuandcontentholderoverlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.25);
    z-index: 999;
    display: none;
}
.overlaydisplay{
    font-size: 18px;
    font-family: 'museo500', Arial, sans-serif;
    /*margin: auto;*/
    position: absolute;
    left: 160px;
    margin-left: 10px;
    margin-top: 6px;

}
.menuholder{
    width: 270px; 
    height: 100%; 
    /*height: calc(100% - 60px);*/
    z-index: 100; 
    background-color: #f1f2f2;
    display: inline-block;
    float:left;
}
.menuholderprogram{
    width: 160px; 
}
.menurightholder{
    width: 220px; 
    z-index: 100; 
    background-color: #f1f2f2;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menutopbuttonholder{
    width:100%;
    height: 30px;
}
.menutopbutton{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    border:none;
    width:50%;
    height:100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    cursor: pointer;
}
.menutopbutton:hover {
    background-color: #e5f1fb;
}
.menutopbuttoninactive
{
    width:50%;
    height:100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}
.liveDataHolder {
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 30px;

}
.liveDataTitleBar {
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
    margin-bottom: 15px;
}
.liveDataItemHolder {
    width: 700px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.liveDataItemBox {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #025969;
    width: 220px;
    height: 80px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding-right: 8px;
}
.liveDataItemBoxTitle {
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
    color: white;
    /*
    overflow: hidden; 
    text-align: center;
    */
}

.liveDataItemBoxName {
    font-size: 12px;
    font-family: 'museo500', Arial, sans-serif;
    color: white;

}
.liveDataItemBoxButton {
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    text-align: center;
}

.liveDataItemConnector {
    vertical-align: middle;
    margin-top: 30px;
    display: inline-block;
    width: 20px;
    background-color: #ffffff;
}
.liveDataItemConnectorArrow {
    color: #999;
    font-size: 20px;
}

.newProgramMenuTitle {
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    color: #007c88;
    height: 30px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}
.diagramMenuEntryWithGlyph {
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    color: #000000;
    height: 30px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}

.landingPageMenuEntry {
    text-align: left;
    width: 100%;    
    height: 30px;
    line-height: 30px;
}
.landingPageMenuTextContent {
    padding-left: 15px;
    display: inline-block;
    text-align: left;
    width: 250px;
    height: 100%;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    border: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
}
.landingPageMenuSubMenu {
    display: inline-block;
    width: 20px;
    height: 50%;
}
.landingPageMenuIcon {
    height: 100%;
    font-size: 12px;
    color: #808080;
}
.landingPageMenuEntryNoSelect {
    text-align: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    width: 100%;    
    height: 25px;
    border:0px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    cursor: default;
}

.diagramMenu {
    width: 100%;
    cursor: pointer;
    
}
.diagramZoomBlock {
    width: 100%;
    cursor: pointer;
    float:right;
}
.diagramMenuHeader {
    display: inline-block;
    height: 30px;
    width: 100%;
}
.diagramMenuHeader:hover {
    opacity: .8;
}
.diagramMenuHeaderNoSelect {
    display: inline-block;
    height: 30px;
    width: 100%;
    cursor: default;
}
.diagramMenuTitle {
    display: inline-block;
    padding-top:6px;
    padding-bottom:10px;
    padding-left:10px;
    color: #ffffff;
    height: 30px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}
.diagramMenuChevron {
    display: inline-block;
    float: right;
    padding-top:10px;
    padding-bottom:4px;
    padding-right:6px;
    color: #ffffff;
    font-size: 12px;
}
.diagramMenuEntry {
    text-align: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    width: 100%;    
    height: 25px;
    border:0px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}
.diagramMenuEntry:hover {
    opacity: .8;
}
.diagramMenuEntryNoSelect {
    text-align: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    width: 100%;    
    height: 25px;
    border:0px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    cursor: default;
}
.diagramSvgHolder {
    position: absolute;
    top: 0px;
    left: 160px;
    width: calc(100vw - 190px);
    height: calc(100vh - 90px);    
    /*height: 100%;*/
}

.flowBlock {
    position: absolute;
    cursor: move;
    width: 200px;
    height: 32px;
    border-radius: 24px;
}
.flowBlockTallWide {
    width: 220px;
    height: 64px;
    border-radius: 16px;
}
.flowBlockTimer {
    width: 220px;
    height: 104px;
    border-radius: 16px;
}
.flowBlockData {
    width: 220px;
    height: 142px;
    border-radius: 16px;
}
.flowBlockPlot {
    width: 350px;
    height: 150px;
}
.flowBlockContent {
    position: absolute;
    top:0px;
    left:8px;
    width: 192px;
    height: 32px;
    color: #ffffff;
    text-align: left;
    cursor: move;
    font-family: 'museo500', Arial, sans-serif;
}
.flowBlockContentTallWide {
    left:12px;
    width: 208px;
    height: 64px
}
.flowBlockContentTimer {
    left:12px;
    width: 208px;
    height: 104px
}
.flowBlockContentData {
    left:12px;
    width: 208px;
    height: 142px
}
.flowBlockContentPlot {
    width: 330px;
    height: 150px
}
.flowBlockStackedContent {
    width: 182px;
    height: 64px
}

.flowBlockWithPlot {
    width: 330px;
    height: 150px;
}
.flowBlockWithImage {
    width: 330px;
}
.flowBlockMenuHolder {
    display: inline-block;
    float: right;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
}
.flowBlockMenuImage {
    height: 12px;
    width: 20px;
}
.flowBlockName {
    display: inline-block;
    font-size: 13px;
    line-height: 32px;
    height: 32px;
    margin-left: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flowBlockNameNormal {
    width: 88px;
}
.flowBlockNameLong {
    width: 130px;
}
.flowBlockParamLabel {
    display: inline-block;
    font-size: 13px;
    line-height: 36px;
    height:36px;
    margin-left: 2px;
    
}
.flowBlockValueAndUnits {
    display: inline-block;
    float: right;
    color: #ffffff;
    height: 32px;
    /*
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;*/
}
.flowBlockValue {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
}
.flowBlockUnits {
    font-size: 12px;
    line-height: 32px;
    height: 32px;
}

.flowBlockPlotCanvas {
    display: inline-block;
    width: 300px;
    height: 150px;
    cursor: pointer;
}

.flowBlockImage {
    margin-bottom: 2px;
}
.flowBlockInputHolderMargin{
    margin-right: 24px;
}
.flowBlockInput {
    display: inline-block;
    float: right;
    text-align: center;
    width: 60px;
    height: 26px;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 14px;
    padding-left:1px;
    padding-right:1px;
    padding-top:1px;
    padding-bottom:1px;
}
.flowBlockInputLong {
    width: 140px;
}
.flowBlockMenu {
    float: right;
    text-align: left;
    cursor: pointer;
    height:100%;
}
.dropdown-toggle {
    height:100%;
}
.flowBlockIcon {
    line-height: 32px;
    height: 32px;
    margin-right: 8px;
    margin-left: 4px;
    font-size: 12px;
    color: #ffffff;;
}

.timeframe-label {
    display: inline-block;
    padding: 10px;
    padding-right: 0;
}
.timeframe {
    padding: 10px;
}
.menuBar {
    position: fixed;
    bottom: 0;
    padding: 10px;
}
#diagramHolder {
    width: 100%;
    height: 99%;  /* this is hack; figure out better approach */
}
button.filter {
    margin-left: 5px;
    margin-bottom: 5px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.flowPanel {
    display: none;
}

#diagramHolder {
    position: absolute;
    top: 0;
    left: 0;
}

.listButton {
    margin-bottom: 10px;
}
#controller_name_entry {
    margin-bottom: 10px;
}

#controllerViewerPanel h2 {
    display: inline-block;
}

#controllerViewerPanel .controllerStatus {
    display: inline;
}
#stopRecording {
    display: none;
}

#diagramInfo {
    float: left;
    width: 400px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.landing-page-padding {
    padding: 0px;
}

.circle { 
    width:                1%;
    padding:            10px 11px;
    margin:                0 auto;
    border-radius:        25px;
}

.circle-button {
    // width:              100%;
    height:             auto;
    padding:            30%;
    padding-left:       15%;
    border-radius:      95%;
    font-size:          15px;
    cursor:             pointer;
}

.square-button {
    width:              100px;
    height:             100px;
    padding:            2%;
    cursor:             pointer;
}

.red { 
    background-color:   red;
}

.green { 
    background-color:   lightgreen;
}

.blue { 
    background-color:   blue;
}

.yellow { 
    background-color:   yellow;
}

.orange { 
    background-color:   orange;
}

.concordgreen { 
    background-color: #2da343;
}
.complimentaryviolet { 
    background-color: #af3071;
}
.complimentarydarkviolet { 
    background-color: #941857;
}
.concordlightblue { 
    background-color: #6fc6da;
}
.concordblue { 
    background-color: #0592af;
}
.concorddarkblue { 
    background-color: #007c88;
}
.concordorange { 
    background-color: #e16d2f;
}
.concordgold { 
    background-color: #ffc320;
}
.uiyellow { 
    background-color: #edbc32;
}
.rungreen { 
    background-color: #00BF5F;
}
.stopred { 
    background-color: #FF6767;
}
.menuwhite { 
    background-color: #ffffff;
}
.menulightgray { 
    background-color: #f5f5f5;
}
.menumediumgray { 
    background-color: #e1e1e1;
}
.menudarkgray { 
    background-color: #cdcdcd;
}
.menuverydarkgray { 
    background-color: #313131;
}
.debuggray { 
    background-color: #808080;
}

.vertical-line {
    width:              2px;
    background-color:   black;
    height:             100%;
    display:            inline-block;

}

/**
 *
 * Colors from mockups
 *
 */
.color-recording-now-icon {
    background-color: #51a04f;
}

.color-recorded-previous-icon {
    background-color: #83c4d7;
}

.color-my-programs-icon {
    background-color: #538ea9;
}

.color-connect-to-pi-button {
    color:              black;
    background-color:   #83c4d7;
}

.color-start-recording-button {
    color:              black;
    background-color: #b6dee8;
}

.color-stop-recording-button {
    color:              black;
    background-color: #83c4d7;
}

@font-face {
    font-family: 'museo500';
    src: url('fonts/museo500-regular-webfont.woff2') format('woff2'),
         url('fonts/museo500-regular-webfont.woff') format('woff');
         url('fonts/museo500-regular-webfont.woff') format('opentype');
         url("fonts/Museo500-Regular.otf") format("opentype"),
    font-weight: normal;
    font-style: normal;

}

