/*
* — Primary Holder —
*/
.main-content-box{
    width:100%;
    height:100%;
    background-color:#ffffff;
}
.dataflow-button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    width: 60px;
    height: 28px;
    line-height:28px;
    font-size: 14px;
    font-family: 'museo300', Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: #313131;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    box-shadow: 1px 1px 3px #C0C0C0;
}
.dataflow-button:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}

/*
* — Top Bar —
*/
.topbar{
    display: flex;
    align-items: stretch;
    width:100%;
    height: 70px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F5F5F5;
}

/*
* — Top bar icon and title —
*/
.topbar-title{
    line-height:60px;
    background-color: #F5F5F5;
    min-width:100px;
}
.topbar-icon{
    margin-right:10px;
    margin-bottom:5px;
}
.topbar-text{
    line-height:60px;
    text-align: left;
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
}
.topbar-title-link{
    cursor: pointer;
    width: 100px;
}
.topbar-title-link:hover {
    opacity: .5;
}
.topbar-login{
    line-height:60px;
    background-color: #F5F5F5;
    margin-left: auto;
}
.topbar-login-text{
    font-size: 12px;
}

/*
* — Top bar save program —
*/
.topbar-save{
    line-height:60px;
    background-color: #F5F5F5;
    margin-left: 70px;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 5px;
    min-width:230px;
}
.topbar-icon-save{
    margin-bottom:1px;
    cursor: pointer;
}
.topbar-save-program-name{
    margin-right: 8px;
    height: 25px;
    width: 230px;
    text-align: left;
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    background-color: transparent;
    border: 0px;
}
.topbar-save-program-name:hover {
    border: 1px solid #aaa;
}
.topbar-save-program-name:focus {
    border: 1px solid #6FC6DA;
}
.topbar-save-program-status{
    line-height: 12px;
	font-size: 12px;
	float: right;
	text-decoration: underline;
	padding: 5px;
	color: #777777
}
.menu-icon{
    margin-right:10px;
    margin-bottom:5px;
}

/*
* — Pi Top Controls to Select a Pi
*/
.topbar-device-select{
    background-color: #F5F5F5;
    margin-left: 50px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
    min-width:200px;
}
.topbar-underline-box{
    border-bottom: 2px solid #6FC6DA;
}
.topbar-device-select-button{
    cursor:pointer;
}
.topbar-device-select-button:hover{
    opacity: .5;
}
.topbar-device-select-text{
    line-height: 25px;
    text-align: left;
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    margin-right:10px;
}
.topbar-device-select-arrow{
    float: right;
    margin-top: 10px;
}
.topbar-dropdown{
    height: 28px;
}

/*
* — Pi Top Controls to run/stop/view
*/
.topbar-device-control {
    margin-left: 20px;
    min-width:210px;
}
.topbar-run-button {
    margin: 0 auto;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    width: 90px;
    height: 28px;
    margin-top: 16px;
    margin-right: 8px;
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    text-align: center;
    background-color: #6FC6DA;
    color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #41BCD8;
    box-shadow: 1px 1px 3px #C0C0C0;
    cursor:pointer;
}
.topbar-run-button:hover {
    background-color: #41BCD8;
}
.topbar-stop-button {
    border: 2px solid #E84900;
    background-color: #EA6D2F;
}
.topbar-stop-button:hover {
    background-color: #E84900;
}
.topbar-view-button {
    width: 100px;
    border: 2px solid #F7911D;
    background-color: #F8AB4E;
}
.topbar-view-button:hover {
    background-color: #F7911D;
}
.button-disabled {
    box-shadow: 0px 0px 0px #C0C0C0;
    border: 0px solid #41BCD8;
}
/*
* — Main Display Region —
*/
.menu-and-content-holder{
    position: relative;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #ffffff;
}
.menu-and-content-holder-program{
    min-height: 975px;
}
.menu-and-content-holder-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,.5);
    z-index: 999;
    display: none;
}
.overlay-lock{
    font-size: 16px;
    font-family: 'museo500', Arial, sans-serif;
    position: absolute;
    left: 180px;
    margin: 0px;
    width: 100%;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    color:#EA6D2F;
    background: rgba(234,109,47,.25);
}
.diagramSvgHolder {
    position: absolute;
    top: 0px;
    left: 180px;
    width: calc(100vw - 180px);
    height: 100%;
}
/*
* — Left Menu —
*/
.menu-holder{
    width: 270px;
    height: 100%;
    z-index: 100;
    display: inline-block;
    float:left;
}
.menu-holder-program{
    width: 180px;  /*wtd wtd wtd code changes*/
}
.menu-separator{
    width:100%;
    height: 10px;
}
.menu-top-button-holder{
    width:100%;
    height: 30px;
}
.menu-top-button{
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    border:none;
    width:50%;
    height:100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    cursor: pointer;
}
.menu-top-button:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}
.menu-top-button-inactive{
    width:50%;
    height:100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
}
.menu-section {
    width: 100%;
    cursor: pointer;
}
.menu-header {
    display: inline-block;
    height: 30px;
    width: 100%;
}
.menu-header:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}
.menu-header-editor {
    display: inline-block;
    height: 30px;
    width: 100%;
}
.menu-header-editor:hover {
    opacity: .8;
}
.menu-title {
    display: inline-block;
    padding-top:6px;
    padding-bottom:10px;
    padding-left:10px;
    color: #313131;
    height: 30px;
    font-size: 14px;
    font-family: 'museo300', Arial, sans-serif;
}
.menu-title-editor {
    color: #FFFFFF;
}
.diagram-menu-chevron {
    display: inline-block;
    float: right;
    padding-top:10px;
    padding-bottom:4px;
    padding-right:6px;
    font-size: 12px;
}
.diagram-menu-entry {
    text-align: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border:0px;
    font-size: 14px;
    font-family: 'museo300', Arial, sans-serif;
}
.diagram-menu-entry:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}
.landing-page-menu-entry {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    text-align: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.landing-page-menu-entry .tooltiptext {
    visibility: hidden;
    width: 210px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    color: #313131;
    text-align: center;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #c0c0c0;
    padding: 2px 0;
    font-family: 'museo300', Arial, sans-serif;
    /* Position the tooltip */
    position: absolute;
    left:270px;
    z-index: 1;
}
.landing-page-menu-entry:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}
.landing-page-menu-entry:hover .tooltiptext {
    visibility: visible;
}
.landing-page-menu-entry-text {
    padding-left: 15px;
    display: inline-block;
    text-align: left;
    width: 235px;
    height: 100%;
    font-family: 'museo300', Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    border: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #313131;
}
.landing-page-menu-entry-sub-menu {
    display: inline-block;
    float: right;
    width: 20px;
}
.landing-page-menu-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.landing-page-menu-entry-message {
    text-align: left;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:15px;
    width: 100%;
    height: 25px;
    border:0px;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    cursor: default;
}
/*
* — Activity Feed —
*/
.dataset-view {
    display:none;
    margin-left:270px;
    padding-top:30px;
}
.dataset-info-topbar {
    display: flex;
    align-items: stretch;
    width:100%;
}
.dataset-buttons {
    margin-left: auto;
    margin-right:30px;
}
.dataset-view-close-button {
}
.dataset-view-export-button {
    margin-right:10px;
    width: 100px;
}
.dataset-info-text {
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    padding: 1px;
    color: #313131;
    margin-left: 30px;
}
.dataset-info-text-title {
    font-size: 20px;
}
.dataset-view-details-button {
    color: #6FC6DA;
    width: 180px;
}
.dataset-view-details-button:hover {
    color: #41BCD8;
    cursor: pointer;
}
.dataset-view-details-text {
    margin-right: 12px;
}
.dataset-view-details-icon {
    padding-bottom:5px;;
}
.dataset-info-details {
    display:none;
}
.dataset-codap-button {
    width: 200px;
    margin-left: 30px;
}

/*
* — Activity Feed —
*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.live-data-holder {
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 30px;
}
.live-data-title-bar {
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    margin-bottom: 15px;
    color: #313131;
}
.live-data-item-holder {
    width: 740px;
    height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #F5F5F5;
    box-shadow: 2px 2px 3px #C0C0C0;
}
.live-data-item-title {
    font-size: 16px;
    font-family: 'museo300', Arial, sans-serif;
    color: #007C88;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.live-data-item-date {
    font-size: 14px;
    font-family: 'museo300', Arial, sans-serif;
    color: #007C88;
}
.live-data-item-box {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    font-size: 14px;
    font-family: 'museo300', Arial, sans-serif;
    padding-top: 6px;
    padding-left: 2px;
    padding-bottom: 6px;
    padding-right: 2px;
}
.live-data-item-box-warning {
    font-size: 16px;
    color: #e16d2f;
    margin-left:55px;
}
.warning-icon{
    vertical-align:middle;
    margin-right:5px;
    margin-bottom:5px;
}
.live-data-item-box-name {
    text-align: center;
    font-size: 14px;
    font-family: 'museo500', Arial, sans-serif;
    color: #313131;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 8px;
    margin-right: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.live-data-item-box-button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    width: 145px;
    height: 40px;
    font-size: 15px;
    font-family: 'museo300', Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: #313131;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    box-shadow: 1px 1px 3px #C0C0C0;
}
.live-data-item-box-button:hover {
    background-color:  rgba(111, 198, 218, 0.1);
}
.live-data-item-connector {
    vertical-align: middle;
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
    display: inline-block;
    width: 60px;
    background-color: #ffffff;

}

/*
* — Flow Blocks —
*/
.flowBlock {
    position: absolute;
    cursor: move;
    width: 200px;
    height: 32px;
    border-radius: 24px;
}
.flowBlockTallWide {
    width: 220px;
    height: 64px;
    border-radius: 16px;
}
.flowBlockTimer {
    width: 220px;
    height: 104px;
    border-radius: 16px;
}
.flowBlockData {
    width: 220px;
    height: 142px;
    border-radius: 16px;
}
.flowBlockPlot {
    width: 350px;
    height: 150px;
}
.flowBlockContent {
    position: absolute;
    top:0px;
    left:8px;
    width: 192px;
    height: 32px;
    color: #ffffff;
    text-align: left;
    cursor: move;
    font-family: 'museo500', Arial, sans-serif;
}
.flowBlockContentTallWide {
    left:12px;
    width: 208px;
    height: 64px
}
.flowBlockContentTimer {
    left:12px;
    width: 208px;
    height: 104px
}
.flowBlockContentData {
    left:12px;
    width: 208px;
    height: 142px
}
.flowBlockContentPlot {
    width: 330px;
    height: 150px
}
.flowBlockStackedContent {
    width: 182px;
    height: 64px
}
.flowBlockWithPlot {
    width: 330px;
    height: 150px;
}
.flowBlockWithImage {
    width: 330px;
}
.flowBlockMenuHolder {
    display: inline-block;
    float: right;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
}
.flowBlockMenuImage {
    height: 12px;
    width: 20px;
}
.flowBlockName {
    display: inline-block;
    font-size: 13px;
    line-height: 32px;
    height: 32px;
    margin-left: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flowBlockNameNormal {
    width: 88px;
}
.flowBlockNameLong {
    width: 130px;
}
.flow-block-param-label {
    display: inline-block;
    font-size: 13px;
    line-height: 36px;
    height:36px;
    margin-left: 2px;
}
.flow-block-param-label-units {
    float: right;
}
.flowBlockValueAndUnits {
    display: inline-block;
    float: right;
    color: #ffffff;
    height: 32px;
}
.flowBlockValue {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
}
.flowBlockUnits {
    font-size: 12px;
    line-height: 32px;
    height: 32px;
}
.flowBlockPlotCanvas {
    display: inline-block;
    width: 300px;
    height: 150px;
    cursor: pointer;
}
.flowBlockImage {
    margin-bottom: 2px;
}
.flow-block-input-holder-margin{
    margin-right: 24px;
}
.flow-block-input {
    display: inline-block;
    float: right;
    text-align: center;
    width: 60px;
    height: 26px;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 14px;
    padding-left:1px;
    padding-right:1px;
    padding-top:1px;
    padding-bottom:1px;
}
.flow-block-input-long {
    width: 140px;
}
.flowBlockMenu {
    float: right;
    text-align: left;
    cursor: pointer;
    height:100%;
}
.dropdown-toggle {
    height:100%;
}
.flowBlockIcon {
    line-height: 32px;
    height: 32px;
    margin-right: 8px;
    margin-left: 4px;
    font-size: 12px;
    color: #ffffff;;
}

/*
* — 1.0 layout —
*/
.timeframe-label {
    display: inline-block;
    padding: 10px;
    padding-right: 0;
}
.timeframe {
    padding: 10px;
}
.menuBar {
    position: fixed;
    bottom: 0;
    padding: 10px;
}
#diagramHolder {
    width: 100%;
    height: 99%;  /* this is hack; figure out better approach */
}
button.filter {
    margin-left: 5px;
    margin-bottom: 5px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noHover{
    pointer-events: none;
}
.flowPanel {
    display: none;
}

#diagramHolder {
    position: absolute;
    top: 0;
    left: 0;
}

.listButton {
    margin-bottom: 10px;
}
#controller_name_entry {
    margin-bottom: 10px;
}

#controllerViewerPanel h2 {
    display: inline-block;
}

#controllerViewerPanel .controllerStatus {
    display: inline;
}
#stopRecording {
    display: none;
}

#diagramInfo {
    float: left;
    width: 400px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.landing-page-padding {
    padding: 0px;
}

/*
* — Admin —
*/
.circle {
    width:                1%;
    padding:            10px 11px;
    margin:                0 auto;
    border-radius:        25px;
}

/*
* — fullscreen —
*/
.fullscreen-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
#fullscreen-button {
  margin: 5px;
  width: 42px;
  height: 42px;
  background: no-repeat url(./images/fullscreen.svg) center/100%;
  cursor: pointer;
  border-radius: 5px;
}
#fullscreen-button:hover {
  background-size: 105%;
  box-shadow: 0 0 2px #D09845;
}
#fullscreen-button.exit {
  background: no-repeat url(./images/fullscreen-exit.svg) center/100%;
}

/*
* — Colors —
*/
.concordgreen {
    background-color: #2da343;
}
.complimentaryviolet {
    background-color: #af3071;
}
.complimentarydarkviolet {
    background-color: #941857;
}
.concordlightblue {
    background-color: #6fc6da;
}
.concordblue {
    background-color: #0592af;
}
.concorddarkblue {
    background-color: #007c88;
}
.concordorange {
    background-color: #e16d2f;
}
.concordgold {
    background-color: #ffc320;
}
.uiyellow {
    background-color: #edbc32;
}
.menuwhite {
    background-color: #ffffff;
}
.menulightgray {
    background-color: #f5f5f5;
}
.menumediumgray {
    background-color: #e1e1e1;
}
.menudarkgray {
    background-color: #cdcdcd;
}
.menuverydarkgray {
    background-color: #313131;
}
.debuggray {
    background-color: #808080;
}

.container-light-gray {
    background-color: #F5F5F5;
}
.container-dark-gray {
    background-color: #E1E1E1;
}
.container-blue-highlight {
    background-color: #E7F0F2;
}
.container-blue-select {
    background-color: #DAECF0;
}

/*
* — Fonts —
*/
@font-face {
    font-family: 'museo500';
    src: url('fonts/museo500-regular-webfont.woff2') format('woff2'),
         url('fonts/museo500-regular-webfont.woff') format('woff'),
         url('fonts/museo500-regular-webfont.woff') format('opentype'),
         url("fonts/Museo500-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo300';
    src: url('fonts/museo300-regular-webfont.woff2') format('woff2'),
         url('fonts/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont.woff') format('opentype'),
         url("fonts/Museo300-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

#version-info{
    position: fixed;
    bottom:2px;
    left:5px;
    font-size: 0.6em;
    color: #aaa;
}