<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/ext/flow-server/static/external/svg.min.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="/ext/flow-server/static/common/core.js"></script>
	<script src="/ext/flow-server/static/common/messages.js"></script>
	<script src="/ext/flow-server/static/external/manyplot.js"></script>
	<script src="/ext/flow-server/static/flow/flow-util.js"></script>
	<script src="/ext/flow-server/static/flow/flow-app.js"></script>
	<script src="/ext/flow-server/static/flow/diagram.js"></script>
	<script src="/ext/flow-server/static/flow/controller-selector.js"></script>
	<script src="/ext/flow-server/static/flow/controller-viewer.js"></script>
	<script src="/ext/flow-server/static/flow/diagram-editor.js"></script>
	<script src="/ext/flow-server/static/flow/plotter.js"></script>
{% if use_codap %}
	<script src="/ext/flow-server/static/external/iframe-phone.js"></script>
	<script src="/ext/flow-server/static/external/CodapInterface.js"></script>
	<script src="/ext/flow-server/static/flow/codap-bridge.js"></script>
{% endif %}

	<link rel="stylesheet" href="/ext/flow-server/static/flow/style.css">
<title>Data Flow</title>
</head>
<body>
	<div id="app"></div>

<script>

var g_controllers = {{ controllers_json|safe }};  // list of available controllers
var g_controller = null;  // the currently selected controller
var g_csrfToken = '{{ csrf_token() }}';
var g_jsSim = false;
var g_useCodap = {{ use_codap }};

$(function() {
	initFlowApp();
{% if use_codap %}
	initCodapBridge();
{% endif %}
});

</script>
</body>
</html>
