<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/ext/flow-server/static/external/svg.min.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="/ext/flow-server/static/common/core.js"></script>
	<script src="/ext/flow-server/static/common/messages.js"></script>
	<script src="/ext/flow-server/static/external/manyplot.js"></script>
	<script src="/ext/flow-server/static/flow/flow-util.js"></script>
	<script src="/ext/flow-server/static/flow/flow-app.js"></script>
	<script src="/ext/flow-server/static/flow/diagram.js"></script>
	<script src="/ext/flow-server/static/flow/controller-selector.js"></script>
	<script src="/ext/flow-server/static/flow/controller-viewer.js"></script>
	<script src="/ext/flow-server/static/flow/diagram-editor.js"></script>
	<script src="/ext/flow-server/static/flow/plotter.js"></script>
{% if use_codap %}
	<script src="/ext/flow-server/static/external/iframe-phone.js"></script>
	<script src="/ext/flow-server/static/external/CodapInterface.js"></script>
	<script src="/ext/flow-server/static/flow/codap-bridge.js"></script>
{% endif %}

	<link rel="stylesheet" href="/ext/flow-server/static/flow/style.css">
<title>Data Flow</title>
</head>
<body>

<div id="controllerSelectorPanel" class="flowPanel">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Select a Controller</h2>
			<div id="controllerList"></div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<div id="controllerViewerPanel" class="flowPanel center-block">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Flow Diagrams</h2> <span class="controllerStatus"><a data-toggle="collapse" href="#controllerStatus" aria-expanded="false" aria-controls="controllerStatus">Status</a></span>
			<div class="collapse" id="controllerStatus">
			  <div class="well">
			    ...
			  </div>
			</div>
			<div id="diagramList">Connecting to controller...</div>
			<button class="btn btn-primary" onclick="newDiagram()">New Diagram</button>
			<button class="btn btn-primary" onclick="closeControllerViewer()">Close Controller</button>
			<!--button class="btn" onclick="CodapTest.sendSequence([3,1,4,1,5,9,2,6,5]);">Test CODAP</button-->
			<!-- <button class="btn" onclick="sendMessage('request_status');">Check Status</button> -->
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<div id="diagramEditorPanel" class="flowPanel">
	<div id="diagramHolder">
	</div>
	<div class="menuBar">
		<button class="btn btn-primary" onclick="sendMessage('add_camera');">Add Camera</button>
		<button class="btn btn-primary" onclick="addNumericBlock()">Add Numeric Entry</button>
		<button class="btn btn-primary" onclick="showFilterBlockSelector()">Add Filter</button>
		<button class="btn btn-primary" onclick="addPlotBlock()">Add Plot</button>
		<button class="btn btn-primary" onclick="closeDiagramEditor()">Close Diagram</button>
		<button class="btn" onclick="sendMessage('add_sim_sensor');">Add Sim Sensor</button>
		<button class="btn" onclick="sendMessage('add_sim_actuator');">Add Sim Actuator</button>
		<button class="btn" onclick="sendMessage('remove_sim_device');">Remove Sim Device</button>
	</div>
</div>
<div id="plotterPanel" class="flowPanel">
	<div>
		<canvas id="canvas" width="800" height="400"></canvas>
	</div>
	<div class="menuBar">
		<button class="btn" onclick="g_plotHandler.zoomIn()">Zoom In</button>
		<button class="btn" onclick="g_plotHandler.zoomOut()">Zoom Out</button>
		<button class="btn btn-danger" onclick="deleteSequenceData()">Delete Data</button>
		<button class="btn btn-primary" onclick="closePlotter()">Close Plotter</button>
	</div>
</div>

<script>

var g_controllers = {{ controllers_json|safe }};  // list of available controllers
var g_controller = null;  // the currently selected controller
var g_csrfToken = '{{ csrf_token() }}';
var g_jsSim = false;
var g_useCodap = {{ use_codap }};

$(function() {
	initFlowApp();
{% if use_codap %}
	initCodapBridge();
{% endif %}
});

</script>
</body>
</html>
