<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/ext/flow-server/static/external/svg.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
	<script src="/ext/flow-server/static/common/core.js"></script>
	<script src="/ext/flow-server/static/common/messages.js"></script>
	<script src="/ext/flow-server/static/common/ble-messages.js"></script>
	<script src="/ext/flow-server/static/common/manylabs-ble.js"></script>
	<script src="/ext/flow-server/static/common/pako.js"></script>
	<script src="/ext/flow-server/static/external/manyplot.js"></script>
	<script src="/ext/flow-server/static/flow/flow-util.js"></script>
	<script src="/ext/flow-server/static/flow/flow-app.js"></script>

    <script src="/ext/flow-server/static/flow/util/message-executor.js">
    </script>
    <script src="/ext/flow-server/static/flow/views/base-view.js">
    </script>
    <script src="/ext/flow-server/static/flow/util/definitions.js"></script>
    <!--
      -
      - Login page components.
      -
      -->
    <script
      src="/ext/flow-server/static/flow/views/login-page-view.js">
    </script>

    <!--
      -
      - Landing page components.
      -
      -->
    <script
      src="/ext/flow-server/static/flow/views/landing-page-view.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/landing-page-my-programs-view.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/landing-page-data-set-view.js">
    </script>

    <!--
      -
      - Program Editor UI components.
      -
      -->
    <script
      src="/ext/flow-server/static/flow/views/program-editor-view.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/pi-selector-panel.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/program-editor-panel.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/program-editor-block-palette.js">
    </script>

    <!-- New plot components -->
    <script
      src="/ext/flow-server/static/flow/views/plot-view.js">
    </script>

    <script
      src="/ext/flow-server/static/external/smoothie.js">
    </script>

    <!--
      -
      - DataSet view components
      -
      -->
    <script
      src="/ext/flow-server/static/flow/views/data-set-view.js">
    </script>

    <!--
      -
      - Admin view component
      -
      -->
    <script
      src="/ext/flow-server/static/flow/views/admin-view.js">
    </script>
    <script
      src="/ext/flow-server/static/flow/views/fullscreen-widget.js">
    </script>


	<script src="/ext/flow-server/static/flow/ble-app.js"></script>
	<script src="/ext/flow-server/static/flow/diagram.js"></script>
	<script src="/ext/flow-server/static/flow/filters.js"></script>
	<script src="/ext/flow-server/static/flow/plotter.js"></script>
    <script src="/ext/flow-server/static/external/jquery.hotkeys.js"></script>

{% if use_codap %}
	<script src="/ext/flow-server/static/external/iframe-phone.js"></script>
	<script src="/ext/flow-server/static/external/CodapInterface.js"></script>
	<script src="/ext/flow-server/static/flow/codap-bridge.js"></script>
{% else %}
	<script type="text/javascript" src="/static/js/download.js"></script>
    <script>
        window.CodapTest = {
            logTopic: function () {}
        };
    </script>
{% endif %}

	<link rel="stylesheet" href="/ext/flow-server/static/flow/style.css">
<title>Data Flow</title>
</head>
<body>


<!--
  -
  - New DF2.0 views.
  -
  -->
<div    id="login-page-view" ></div>
<div    id="landing-page-view"
        class="landing-page-padding" ></div>

<div    id="admin-view" ></div>
<div    id="program-editor-view" ></div>
<div    id="fullscreen-widget"
        class="fullscreen-container"></div>


<script>

var g_controllers = {{ controllers_json|safe }};  // list of available controllers
var g_controller = null;  // the currently selected controller
var g_csrfToken = '{{ csrf_token() }}';
var g_jsSim = false;
var g_useCodap = {{ use_codap }};
var g_fullscreen = {{ use_fullscreen }};
var g_adminEnabled = false; //1.0
var g_user                  = {{ flow_user|safe }};
var g_rhizo_server_version  = '{{ rhizo_server_version }}';
var g_flow_server_version   = '{{ flow_server_version }}';
var g_firebase_info = {{ firebase_info_json|safe }};

$(function() {
	initFlowApp();
{% if use_codap %}
	initCodapBridge();
{% endif %}
});

</script>
</body>
</html>
